$primary: #214234;
$black: #1c1c1c;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "bootstrap/scss/bootstrap";
@import "custom-color.scss";

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 130%;
}

select.btn-outline-medium option {
  color: black;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: $primary !important;
  border-color: $primary !important;
}

.action-sticky {
  position: sticky;
  width: 120px;
  top: 0;
  right: 0;
}
